<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.netty_chatsystem" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="com.facebook.sdk.ApplicationId"  android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Friendlist_Activity"
            android:label="PetChat"
            android:logo="@drawable/button"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Register_Activity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Chat_Activity"
            android:theme="@style/TitleBarTheme" >
        </activity>
        <activity
            android:name=".Character_Activity"
            android:label="Pet"
            android:logo="@drawable/dog_footprint"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Bombmode_Activity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Messagelist_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Search_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".BombMessage_video_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".ChangePassword_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Myself_setting_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Addfriend_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".Phonebook_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".TextMessage_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity
            android:name=".DrawBoard_Activity"
            android:theme="@style/FriendlistBarTheme" >
        </activity>
        <activity android:name=".Logo_Activity"
            android:theme="@style/FriendlistBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider243989642647643"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true">
        </provider>
    </application>

</manifest>
